.headerTitle {
    margin: auto;
    margin-top : 4%;
    width: 600px;
}

.prestation{
    width: 600px;
    border-collapse: collapse;
    border: 1px solid black;
	margin: auto;
    margin-top : 4%;
}

label {
    border-width: 1px;
    font-size: large;
    font-weight: bold;
    justify-content: center;
}