<table class="timecard">
    <thead>
        <tr>
            <th class="col-sm-4">Day</th>
            <th class="col-sm-4">DayName</th>
            <th class="col-sm-4">DayWorked</th>
            <th class="col-sm-4">HoursWorked</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let day of dates">
            <td class="col-sm-5">{{day.date}}</td>
            <td class="col-sm-5">{{day.dayName}}</td>
            <td class="col-sm-4">
                <select #choice (change)="changeDayWorked(day,choice.value)">
                    <option value="CRM">CRM</option>
                    <option value="RTT">RTT</option>
                    <option value="CP">CP</option>
                </select>
            </td>
            <td class="col-sm-4" *ngIf="day.dayWorked=='CRM'">
                <input type="text" #hoursWorked name="hoursWorked" [value]=day.hoursWorked (change)="changeHoursWorked(day,hoursWorked)">
            </td>
        </tr>
    </tbody>
</table>

