<div class="headerTitle">
    <h3>Client -> Ajouter Client</h3>
</div>
<div class="addCustomer">
    <form [formGroup]="customer" (ngSubmit)="addCustomer()">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="denomination ">denomination</label>
                <input formControlName="denomination" type="text" class="form-control" id="denomination" aria-describedby="denomination Help" placeholder="Enter denomination">
            </div>
            <div class="alert alert-danger" *ngIf="denomination.touched && denomination.invalid">
                <div *ngIf="denomination.errors.required">denomination is required.</div>
            </div>
            <div class="form-group">
              <label for="responsableManager">responsableManager</label>
              <input formControlName="responsableManager" type="text" class="form-control" id="responsableManager" aria-describedby="responsableManager Help" placeholder="Enter responsableManager">
            </div>
            <div class="alert alert-danger" *ngIf="responsableManager.touched && responsableManager.invalid">
                <div *ngIf="responsableManager.errors.required">responsableManager is required.</div>
            </div>
            <div class="form-group">
                <label for="tva">tva </label>
                <input formControlName="tva" type="text" class="form-control" id="tva" aria-describedby="tva Help" placeholder="Enter tva">
            </div>
            <div class="form-group">
                <label for="siret">siret </label>
                <input formControlName="siret" type="text" class="form-control" id="siret" aria-describedby="siret Help" placeholder="Enter siret">
            </div>
            <div class="form-group">
                <label for="juridiqueStatus">juridiqueStatus</label>
                <input formControlName="juridiqueStatus" type="text" class="form-control" id="juridiqueStatus" aria-describedby="juridiqueStatus Help" placeholder="Enter juridiqueStatus">
            </div>
            <div class="form-group">
                <label>campany</label>
                <br/>
                <select #choice (change)="chooseCampany(choice.value)">
                    <option [value]="campany.denomination" *ngFor="let campany of Campanies">{{campany.denomination}}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
            <div class="form-group">
                <div *ngIf="customer.errors" class="alert alert-danger">The formular is invalid.</div>
            </div>
        </div>
    </form>
</div>




