@import "~bootstrap/dist/css/bootstrap.css";


html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%;
  width : 100%;
}

.container{
  height: 100%;
  width : 100%;
}

.user-options{
    margin-left : 10%;
    width : 100%;
}

/* The subnavigation menu */
.subnav {
    width : 15%;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 28px;
    border: none;
    outline: none;
    color: darkgray;
    background-color: inherit;
    font-family: inherit;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    margin-left: 0;
    position: absolute;
    background-color: darkslategray;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }