<div class="Month">
    <label class="start">Select a month : </label>
    <input type="month" id="month" name="month" class="month" [value]=CurrentMonth #month (change)="selectMonth(month)">
</div>
<br/>
<div class="row">
    <div class="col-sm-6">
        <app-week [dates]="FirstHalf"></app-week>
    </div>
    <div class="col-sm-6">
        <app-week [dates]="SecondHalf"></app-week>
    </div>
</div>
<div class="button">
    <button type="button" class="btn btn-primary" (click)="confirmCra()">Confirm Cra</button>
</div>
<br/>